h1 {
    font-weight: bold;
}

.wrap {
    width: 95%;
    max-width: 390px;
    margin: 5px auto 5px auto;
    /* padding: 20px; */
}

.main {
    margin-top: 50px;
    width: 390px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px auto 10px;
}

.location-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    box-shadow: 3px 3px 3px #d3d3d3;
    background: url("./location.png") no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.btn-search {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    box-shadow: 3px 3px 3px #0d6dfd2a;
    font-weight: bold;
    border-radius: 5px;
}

.overlay {
    background: white;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    padding-bottom: 10px!important;
    margin-left: -144px;
    text-align: center;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
    overflow: visible;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.wrap * {
    padding: 0;
    margin: 0;
}

.wrap .info {
    width: 286px;
    height: 160px;
    overflow: hidden;
    background: #fff;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 0px 0px 0px #888;
}

.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.info .body {
    position: relative;
    overflow: hidden;
}

.info .desc {
    position: relative;
    margin: 13px 0 0 13px;
    height: 160px;
}

.desc .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}

.info .link {
    color: #5085BB;
}

.Btn{
    margin: 3px;
}
.infoWrap {}
.infoBox {}
.infoBox-title {
    padding: 5px 0;
    background: #eee;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    font-weight: bold;
}
.infoBox-ul {
    padding: 10px;
    list-style: none;
}
.infoBox-li {}
.infoBox-infoGroup {}