<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <title>급해!!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1868ee8497f900b93026d5face3cb849"
    ></script>
    <script src="static/app.js" defer></script>
</head>
<body>


<div>
    급해!<br>
    신호가 오면 망설이지 마세요!<br>
    🚨
</div>
<div>
    <button onclick="myLocation()" type="button">찾아줘!!</button>
    <button onclick="testToilet()" type="button">장실정보GET!</button>

    <p id="result"></p>
    <div id="map" style="width: 500px; height: 400px"></div>
</div>
</body>
</html>
